
/*  T A B L E T T E */

@media screen and (max-width: 1160px)
{

	.fixe
	{
		width: 35%;
	}

	.menu
	{
		width: 100%;
	}
}



/*  G R O S  M O B I LE */
@media screen and (max-width: 980px)
{

	.fixe
	{
		width: 35%;
	}

	.menu
	{
		width: 100%;
	}

	.content
	{
	   margin-left: 0%;
	   position: relative;
	   left: 35%;
	}
}


/*  M O B I LE */
@media screen and (max-width: 780px)
{
	.fixe
	{
		position: relative;
		width: 100%;
	}
	.menu
	{
		position: relative;
		width: 100%;
	}

	.photoProfil
	{
		max-width: 33%;
	}

	.presentation
	{
		position: relative;
	}

	.content
	{
	   margin-left: 0%;
	   left: 0%;
     	   width: 100%;
	}

	#cachee
	{
		width: 20%;
		display: block;
		position: relative;
		float: left;
	}

	.visible
	{
		display: none;
	}

	.mobile
	{
		display: inline;
	}

	.bandeau
	{
		overflow: hidden;
	}

	.intro
	{
		margin-top: 12%;
	}

	.iconeBandeau
	{
		max-width: 7%;
		margin-bottom: -60px;
	}

	header h1
	{
		font-size: 55px;
	}
	
	#menuMobile
	{
		display:block;
	}
}

/* P E T I T   M O B I LE */
@media screen and (max-width: 590px)
{
	.fixe
	{
		position: relative;
		width: 100%;
	}
	.menu
	{
		position: relative;
		width: 100%;
	}

	.photoProfil
	{
		max-width: 33%;
	}

	.presentation
	{
		position: relative;
	}

	.content
	{
	   margin-left: 0%;
	   left: 0%;
     	   width: 100%;
	}

	#cachee
	{
		width: 20%;
		display: block;
		position: relative;
		float: left;
	}

	.visible
	{
		display: none;
	}

	.mobile
	{
		display: inline;
	}

	.bandeau
	{
		overflow: hidden;
	}

	.intro
	{
		margin-top: 12%;
	}

	.iconeBandeau
	{
		max-width: 7%;
		margin-bottom: -20px;
	}

	header h1
	{
		font-size: 30px;
	}
}
