@media screen and (min-width: 1700px)
{
      #container
      {
            width: 66%;
            margin: 5% 20% 20%;
      }
}



@media screen and (max-width: 1382px)
{
      .largeurInfo
      {
            width: 100%;
      }
}

@media screen and (max-width: 768px)
{
      #menuPC
      {
            display: none;
      }

      #menuMobile, #showMenuLien
      {
            display: block;
      }

      #showMenuLien
      {
            float: left;
            width: 10%;
      }

      #showMenuImage
      {
            width :100%;
      }
}

@media screen and (max-width: 450px)
{
      .active
      {
            font-size: 70%;
      }

      .listeBord
      {
            padding-left: 0%;
      }
      
      .logo
      {
            display: none;
      }
}

@media screen and (max-height: 600px)
{
      #espaceLienMobile
      {
            max-height: 250px;
            overflow-y: scroll;
      }
}

@media screen and (max-height: 450px)
{
      #espaceLienMobile
      {
            max-height: 200px;
            overflow-y: scroll;
      }
}
