
body
{
	margin-top:5px;
	//background-color: #F9E66B;
	background-color: #465781 ;
}

.menu
{
	border: 3px solid black;
	border-radius: 2px;
	background-color: #E6F0F2;
	padding:10px;
	font-family: cursive;
}
	
	.menu h3
	{
		text-align: center;
	}
		
		.menu a:hover
		{
			background: url('img/fleche.png') no-repeat 20px;
			margin-left: -50px;
			padding-left: 50px;
			text-decoration: none;
			color: black;
		}
		
		.menu a:focus
		{
			background: url('img/fleche.png') no-repeat 20px;
			margin-left: -50px;
			padding-left: 50px;
			text-decoration: none;
			color: black;
		}
			.menu .cliqué
			{
				background: url('img/fleche.png') no-repeat 20px;
				margin-left: -50px;
				padding-left: 50px;
				text-decoration: none;
				color: black;
			}

.menu ul
{
	list-style-type: none;
	line-height:3em;
}

#contact img
{
	width: 60px;
	margin: 20px;
}

.iconeContact {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.photoProfil
{
	margin-top: 10px;
	max-width: 66%;
	border: 2px solid black;
	border-radius: 2px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.aCacher h3
{
	margin-left: 3%;
}
	.aCacher ul
	{
		line-height:3em;
		padding-left: 4%;
	}
		.aCacher lieu
		{
			border-left:8%;
			display: block;
			line-height:3em;
			position: relative;
			left: 8%;
		}
			.aCacher ville
			{
				display: block;
				line-height:3em;
				position: relative;
				left: 8%;
			}


.sujet
{
	font-weight: bold;
}

.lieu
{
  font-size: 12px;
  font-style: italic;
}

#contact
{
	padding-bottom: 10%;
	height: 300px;
}

	#contact h3
	{
		padding-bottom: 5%;
	}

.row
{
	margin: 0;
}

article
{
	border: 3px solid black;
	border-radius: 2px;
	background-color: #E6F0F2;
	padding:10px;
}

h3
{
	font-family:cursive;
}
