
body
{
	margin-top:5px;
	background-color: #F9E66B;
}

.menu
{
	border: 1px solid black;
	border-radius: 2px;
	background-color: #E6F0F2;
	padding:10px;
	font-family: cursive;
}

ul
{
	list-style-type: none;
	line-height:3em;
}

.menu h3
{
	text-align: center;
}
/*
a:hover
{
	background-position: left;
	background: url('img/fleche.png') no-repeat;
}
*/
.photoProfil
{
	margin-top: 10px;
	max-width: 66%;
	border: 2px solid black;
	border-radius: 2px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.row
{
	margin: 0;
}

article
{
	border: 1px solid black;
	border-radius: 2px;
	background-color: #E6F0F2;
	padding:10px;
}

h3
{
	font-family:cursive;
}
