<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title class="mat-display-1">Formation</mat-card-title>
		<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
	</mat-card-header>
	<mat-card-content>
		<ol>
			<li class="saint-michel">
				2017-2018
				<aside>Point de RV</aside>
			</li>
			<li class="cityhall">
				2016-2017
				<aside>Départ Bus</aside>
			</li>
			<li class="opera">
				2015-2016
				<aside>Opéra Garnier</aside>
			</li>
			<li class="catacombes">
				2014-2015
				<aside>Chiens interdits</aside>
			</li>
			<li class="grands-boulevards">
				2013-2014
				<aside>Musée Grévin</aside>
			</li>
		</ol>

		<ul>
			<li>
				<div class="section-title">
					<h2>Section 1</h2>
				</div>
				<div class="section-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit voluptatum temporibus dicta reprehenderit tempore quisquam consequuntur porro omnis laboriosam praesentium at et sapiente, provident sit! Suscipit recusandae, ab ratione dignissimos.</p>
				</div>
			</li>
			<li class="active">
				<div class="section-title">
					<h2>Section 2</h2>
				</div>
				<div class="section-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora totam delectus, eius nostrum aspernatur voluptas enim fugit ipsa magni voluptatem, odio sit accusamus vel id, commodi consequuntur possimus repellat necessitatibus!</p>
				</div>
			</li>
		</ul>
	</mat-card-content>
	<!-- <mat-card-actions>
		<button mat-button>LIKE</button>
		<button mat-button>SHARE</button>
	</mat-card-actions> -->
</mat-card>